table, td {
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    height: 69px;
    min-width: 30px;
    max-width: 30px;
    text-align: center;
}

td.disabled {
    background-color: black;
}

td.elevator {
    background-color: chocolate;
}

td.empty {
    background-color: #3e2517;
}

td.rock {
    background-color: gray;
}

td.room {
    background-color: cadetblue;
}

td.elevator:hover,
td.room:hover {
    background-color: green;
}
